@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("../img/sand-bg.jpg"); 
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox{
    position: absolute;
    top: 50px;
    right: 1100px;
    font-size: 34px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
    color: brown;
}

#hiscoreBox{
    position: absolute;
    top: 100px;
    right: 1100px;
    font-size: 34px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
    color: brown;
}

#board{
    background: linear-gradient(rgb(83, 58, 58), rgba(0,0,0,.1));
    width: 80vmin;
    height: 82vmin;
    border: 10px solid brown;
    border-radius: 10px;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head{
    background: linear-gradient(black, rgb(251, 251, 203));
    border: 2px solid rgb(34, 4, 34); 
    transform: scale(1.02);
    border-radius: 10px;
}

.snake{
    background-color: brown;
    border-radius: 100px;
}

.food{
    background: linear-gradient(yellow, orange);
    border: .25vmin solid black;
    border-radius: 100px;
}